
.layout-draw-lines {
    /* placeholder */
}

.layout-draw-lines .line {
    position: absolute;
    pointer-events: none;
    border-left: 1px dashed var(--line-color);
    border-bottom: 1px dashed var(--line-color);
}

.layout-draw-lines .horizontal {
    width : 100%;
    margin-left: -100px !important;
    padding-left: 100px;
    margin-right: -100px;
    padding-right: 100px;
}

.layout.root > .layout-children > .layout-child-position > .layout > .layout-draw-lines .horizontal {
    width : 100%;
    margin-left: -50vw !important;
    padding-left: 50vw;
    margin-right: -50vw;
    padding-right: 50vw;
}

.layout-draw-lines .vertical {
    height: 100%;
    margin-left: -1px;
    margin-top: -100px !important;
    padding-top: 100px;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

/* .layout.root > .layout-children > .layout-child-position > .layout > .layout-draw-lines .vertical {
    height: 100%;
    margin-left: -1px;
    margin-top: -50vh !important;
    padding-top: 50vh;
    margin-bottom: -50vh;
    padding-bottom: 50vh;
} */

.layout-draw-lines .top {
    top: 0;
    left: 0;
    margin-top: -1px;
}

.layout-draw-lines .bottom {
    left: 0;
    bottom: 0;
    margin-top: 1px;
}

.layout-draw-lines .right {
    left: 100%;
}

@media screen and (max-width: 600px) {

    .layout-draw-lines .horizontal {
        width : 100%;
        margin-left: -10px !important;
        padding-left: 10px;
        margin-right: -10px;
        padding-right: 10px;
    }
    
    .layout.root > .layout-children > .layout-child-position > .layout > .layout-draw-lines .horizontal {
        width : 100%;
        margin-left: -10px !important;
        padding-left: 10px;
        margin-right: -10px;
        padding-right: 10px;
    }
    
    .layout-draw-lines .vertical {
        height: 100%;
        margin-left: -1px;
        margin-top: -10px !important;
        padding-top: 10px;
        margin-bottom: -10px;
        padding-bottom: 10px;
    }
 } 