.layout {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    background: white;
    border: 1px solid white;
    margin: -1px;
}

.layout.transitioning > * {
    pointer-events: none !important;
}