:root {
  --transitionDuration: 150ms;
}

.layout-overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: black;
}

.layout-overlay .layout-label {
  position: absolute;
  line-height: 0.8;
  text-transform: uppercase;
  word-break: break-all;
  color: #ffffff;
  letter-spacing: -1px;
  mix-blend-mode: difference;
  pointer-events: none;
  padding-left: 10px;
}

.layout-overlay:hover .layout-label {
  color: #4b4b4b;;
  transition: var(--transitionDuration);
  will-change: color;
}
