.layout-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /* background-color : white; */
    filter: contrast(1.4) saturate(0) brightness(1);
    transition: 150ms;
    object-fit: cover;
}

.layout-image:hover {
    filter: none;
}

