.layout-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /* background-color : white; */
    filter: contrast(1.4) saturate(0) brightness(1);
    transition: 150ms;
    object-fit: cover;
    box-shadow: inset -4px -3px 20px 0px #00000017;
    /* box-shadow: inset -4px -3px 20px 0 rgb(0 0 0 / 9%); */

}

.layout-image:hover {
    filter: none;
}

.layout-image.placeholder {
    /* box-shadow: 0 0 20px 0px rgb(0 0 0); */
    /* box-shadow: inset -4px -3px 20px 0 rgb(0 0 0 / 9%); */
    /* opacity: 0.3; */
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQYV2NkwAIuX778nxFdHCSoq6vLiCIBEwQphksgC8Il0AXBEtgEQRIAvF8Xf8iAtVMAAAAASUVORK5CYII=) repeat; */
    background: white;
}
