.layout-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-repeat:no-repeat;
    background-size:cover;
    background-position: center; */
    filter: saturate(0.4);
    transition: 300ms;
    object-fit: cover;
    /* transform-style: preserve-3d;
    backface-visibility: hidden; */
}

.layout-image:hover {
    filter: none;
}

.layout-image.contain {
    filter: none;
    pointer-events: none;
    /* background-size: contain; */
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .layout-image {
        filter: none;
    }
}