.layout-header {
  flex-wrap: wrap;
  overflow-x: visible;
  overflow-y: visible;
  height: "";
  position: relative;
  display: none;
  padding-left: 10px;
}

.layout-header.selected {
  display: flex;
}

.layout-header.selected.small {
  display: unset;
}

.layout-header .layout-header-node {
  top: 0;
  z-index: 4;
  position: sticky;
  padding-right: 10px;
  line-height: 0.72;
  text-transform: uppercase;
  /* text-transform: capitalize; */
  /* letter-spacing: -1px; */
  float: left;
  letter-spacing: 4px;
  color: black;
  cursor: default;
  margin-top: -1px;
  border-top: 1px solid var(--line-color);
}

.layout-header .layout-header-node.sibling {
  top: "";
  position: relative;
  font-weight: normal;
  color: lightgrey;
}

.layout-header.small:not(.expanded) .layout-header-node.sibling {
  display: none;
}

.layout-header .layout-header-node.sibling:hover {
  color: black !important;
  transition: 150ms;
}

.layout-header:not(.small) .layout-btn {
  display: none;
}

.layout.root > .layout-header .layout-header-node {
  font-weight: bold;
}

.layout.branch > .layout-header.selected {
  margin-bottom: 10px;
}