.layout-header {
  flex-wrap: wrap;
  overflow-x: visible;
  overflow-y: visible;
  /* margin-left: 10px; */
  height: "";
}

.layout-header.expanded {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.layout-header .layout-header-node {
  top: 0;
  z-index: 4;
  position: sticky;
  /* font-weight: bold; */
  padding-right: 10px;
  line-height: 0.8;
  text-transform: uppercase;
  margin-top: -1px;
  /* margin-left: -2px; */
  letter-spacing: -1px;
  color: black;
}

.layout-header .layout-header-node::first-letter {
  margin-left:-2px;
}

.layout-header .layout-header-node.sibling {
  top: "";
  z-index: 0;
  position: relative;
  font-weight: normal;
  color: lightgrey;
}

.layout-header.small:not(.expanded) .layout-header-node.sibling {
  display: none;
}

.layout-header .layout-header-node:hover {
  color: black !important;
  transition: 300ms;
}

.layout-header .layout-btn {
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 20px;
  height: 30px;
  width: 40px;
  z-index: 10;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

.layout-header:not(.small) .layout-btn {
  display: none;
}
