.layout-content {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    overflow-y : auto;
    overflow-x : hidden;
    font-size : 14px;
    /* border-right: 1px solid lightgrey; */
}

.layout-content .layout-label {
    text-transform: uppercase;
    font-weight : bold;
    font-size : 60px;
    line-height: 0.7;
    top: 0;
    position: sticky;
    color : #d3d3d366;
    letter-spacing: 4px;
    word-break: break-all;
    mix-blend-mode : multiply;
    margin-bottom: -10px;
}

.layout-content .layout-title {
    font-weight: bold;
    padding-right: 10px;
}

.layout-content .layout-items {
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.layout-content .layout-items li {
    margin-right: 1em;
}

.layout-content .layout-text {
    max-width: max(70%, 700px);
    /* margin: auto; */
    line-height: 1.8;
    padding: 0px 40px;
}

.layout-content .layout-text.bullet {
    display: flex;
}

.layout-content .layout-text + .layout-text {
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    
    .layout-content {
        font-size: 12px;
    }

    .layout-content .layout-text:not(.bullet) + .layout-text:not(.bullet) {
        margin-top: 12px;
    }
}