
.Wrapper {
    width: calc(100% - 5px);
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-duration: 500ms;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

.App {
    height: calc(100% - 40px);
    padding-top: 10px;
    width: 100%;
    margin: 30px auto 100px;
    max-width: 80%;
}

.Menu {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end;
    background: white;
    padding: 10px;
}

.Menu .menu-item {
    font-size: 26px;
    line-height: 0.74;
    letter-spacing: 4px;
    padding: 0 10px;
    cursor: pointer;
}

.Menu .menu-item.linkedin {
    font-weight: bold;
    letter-spacing: unset;
}

@media screen and (max-width: 600px) {

    .App {
        height: calc(100% - 57px);
        max-width: 90%;
        max-height: 100%;
    }

    .Menu {
        justify-content: center;
    }

    .Menu .menu-item {
        font-size: 22px;
    }
}

