
.Wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.App {
    height: calc(100% - 40px);
    padding-top: 10px;
    width: 100%;
    margin: auto;
}

.Menu {
    z-index: 20;
    width: 100%;
    margin: auto;
}

.Menu .menu-item {
    font-size: 30px;
    line-height: 0.65;
    letter-spacing: 4px;
    padding: 0 10px;
    cursor: pointer;
    float: right;
    border-bottom: 1px solid var(--line-color);
}

.Menu .menu-item.linkedin {
    font-weight: bold;
    letter-spacing: unset;
}

@media screen and (max-width: 600px) {

    .App {
        height: calc(100% - 32px);
    }

    .Menu .menu-item {
        font-size: 22px;
    }
}